DB_HOST=localhost
DB_PORT=5432
DB_NAME=asmi_dev
DB_USER=postgres
DB_PASSWORD=baus@12345

PATH_FILE_UPLOAD= files

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=7d

PORT=4000
BASE_URL=http://localhost:4000